* {
	margin:0;
	padding: 0;
}

#logo{
	width: 15px;
	margin: 5px;
	padding: 2px;
	position: relative;
	border-radius: 20px;
	right: 185px;
	height: 55px;
	

}
nav{
	margin: 10px;
}

body {
	font-family: Helvetica, "Trebuchet MS", sans-serif;
	background: #fff;
	margin: 15px;
}

a {
	text-decoration: none;
}

ul{
	list-style: none;
}

