* {
	margin:0;
	padding: 0;
}

body {
	font-family: Helvetica, "Trebuchet MS", sans-serif;
	background: #fff;
	margin: 15px;
}

#container {
	background: #ede9cc;
	margin: 0 auto;
	min-width: 740px;
	max-width: 1180px;
}

#topo {
	position: relative;
	background: #dbcd87;
	height: 15.4em;
	min-height: 250px;
}

.logo a {
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 3;
	width: 151px;
	height: 66px;
	text-indent: -9000px;
}